
NTTLapso/obj/Debug/net6.0/NTTLapso.GeneratedMSBuildEditorConfig.editorconfig
.vs/NTTLapso/v17/.suo
.vs/NTTLapso/FileContentIndex/da14f654-780b-465d-91f3-c422e7cc1aec.vsidx
.vs/NTTLapso/FileContentIndex/a3e14525-c87c-4794-88e1-0f95a5a48715.vsidx
.vs/NTTLapso/FileContentIndex/45a1d461-9b04-4a94-9393-55d0750bc741.vsidx
.vs/NTTLapso/FileContentIndex/2968b723-2ae3-44c0-93eb-b00b233e8274.vsidx
.vs/NTTLapso/v17/.suo
